@import 'variables.css';

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#app {
  isolation: isolate;
}

/* DEFAULT STYLES */
:root {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--ff-sans-serif);
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
:is(ul, ol) li {
  line-height: 1.5;
}
:is(ul, ol) :is(ul, ol) {
  margin-top: 0;
  margin-bottom: 0;
}

:focus {
  outline: 3px solid var(--primary8);
}
